.wrapper{
  display: flex;
  padding: 2rem;
  justify-content: space-between;

  .chart{
    margin-left: 2rem;
  }

  .data {

    .row{
      display: flex;
      margin-bottom: 1rem;
    }

    .label{
      width: 100px;
      font-weight: bold;
    }
  }

  .error {
    color: red;
    padding: 1rem;
  }

  button{
    align-self: flex-start;
  }
}
