.wrapper{
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;

  .chart{
    margin-left: 2rem;
  }

  .data {

    .row{
      display: flex;
      margin-bottom: 1rem;
    }

    .label{
      width: 100px;
      font-weight: bold;
    }
  }

  .error {
    color: red;
    padding: 1rem;
  }
}
